@import url("styles.css");

* {
    font-family: 'gameFont'
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid var(--salmon);
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    padding: 10px;
    max-width: 400px;

    background-color: var(--burnt-log);

    overflow: auto;

    max-height: 500px;

}


/*############################################################################ */
/*                          Main save button                                   */
/*#############################################################################*/
.saveButton {
    width: 100%;
    background-color: var(--lime);

    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;

    height: 10%;
    transition: background-color 0.3s ease;
    border-radius: 10px;


    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    flex-shrink: 0;
    font-size: 1.5em;

}

.saveButton:hover {
    background-color: var(--salmon);
    color: white;
    cursor: pointer;
}


/*############################################################################ */
/*                          Actual save file items                             */
/*#############################################################################*/
.saveItem *{
    font-size: 1em;
}
.saveItem {
    background-color: var(--charcoal);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    height: 10%;
    transition: background-color 0.3s ease;
    transition: transform 0.05s ease;
    border-radius: 10px;



    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    flex-shrink: 0;
        border-left: 6px solid #3498db;
}

.saveItem:active {
    transform: scale(0.97);
}


.saveItem:hover {
    background-color: var(--charcoal-light);
    color: white;
    cursor: pointer;
}

.saveItem>.leftCol {

    width: 80%;
    display: flex;
    align-items: center;
}

.saveItem>.rightCol {

    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.deleteSaveBut {
    justify-content: center;
    background-color: #00000000;
    color: var(--denial-red);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0px;
    height: 25px;
    width: 25px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    /* default segoe ui font family*/

    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif*/
}

.deleteSaveBut:hover {
    color: var(--salmon);
    cursor: pointer;
}

.save-entry {
    display: flex;
    flex-direction: column;
}


/*############################################################################ */
/*                          Save file name input                              */
/*#############################################################################*/
.saveCreatorPopupCont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 400px;
    height: auto;

    background-color: var(--burnt-log);
    border: 2px solid var(--salmon);
    border-radius: var(--defBorderRadius);

    flex-direction: column;
    gap: 20px;
    padding: 20px;

    z-index: 9999;
    display: flex;
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;

    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.saveCreatorPopupCont.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.inputRow {
    display: flex;
    justify-content: center;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 10px;
}

.buttonRow button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--salmon);
    color: var(--burnt-log);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.0em;

}

/* .buttonRow button:hover {
    background-color: var(--peach);
} */

#saveNameInput {
    background-color: var(--charcoal);
    color: var(--text-col);
    border: none;
    border-radius: 8px;
    height: 65px;
    width: 100%;
    padding: 0 10px;
    font-size: 1.0em;

    /* -webkit-user-select: text !important; */


}

#saveNameInput:focus {
    outline: none;
    background-color: var(--charcoal-light);


    /* This fixes input issue within ultralight */
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;

}




.buttonRow .cancelButton {
    background-color: var(--denial-red);
    color: var(--text-col);
}

.buttonRow .okButton {
    background-color: var(--confirm-blue);
    color: var(--text-col);
}

.buttonRow .okButton:hover {
    background-color: var(--confirm-blue-hover);
    transition: background-color 0.3s ease-in-out;
}

.buttonRow .cancelButton:hover {
    background-color: var(--denial-red-hover);
    transition: background-color 0.3s ease-in-out;

}

/* .buttonRow>.okButton {
    width: 20%;
    color: var(--text-col);
}

.buttonRow>.cancelButton {
    width: 80%;
    color: var(--text-col);
} */



/*############################################################################ */
/*                          overwrite saves                                    */
/*#############################################################################*/
.overwriteCreatorPopupCont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 400px;
    height: auto;

    background-color: var(--burnt-log);
    border: 2px solid var(--salmon);
    border-radius: var(--defBorderRadius);

    flex-direction: column;
    gap: 20px;
    padding: 20px;

    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.overwriteCreatorPopupCont.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



.deleteSaveCreatorPopupCont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    height: auto;
    background-color: var(--burnt-log);
    border: 2px solid var(--salmon);
    border-radius: var(--defBorderRadius);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

    .deleteSaveCreatorPopupCont.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }